<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/webpage/include/taglib.jsp"%>
<html>
<head>
	<title>${classname}</title>
	<meta name="decorator" content="ani"/>
	<%@ include file="/webpage/include/bootstraptable.jsp"%>
	<%@ include file="${classname}List.js"%>

</head>
<body>
	<div class="wrapper wrapper-content">
	<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">${classname}列表</h3>
	</div>
	<div class="panel-body">
	  <div class="row">
			<div id="left" class="col-sm-12">
			<!-- 搜索 -->
			<div class="accordion-group">
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
						<form id="searchForm" modelAttribute="${classname}"  class="form form-horizontal well clearfix" >


				#foreach ($column in $columns)
					#if(${column.attrname} !=  'id' && ${column.attrname} != 'createBy' && ${column.attrname} != 'createByName' && ${column.attrname} != 'createDate' && ${column.attrname} != 'updateBy' && ${column.attrname} != 'updateByName' && ${column.attrname} != 'updateDate' && ${column.attrname} != 'remarks' && ${column.attrname} != 'delFlag' && ${column.attrname} != 'ext1' && ${column.attrname} != 'ext2'&& ${column.attrname} != 'ext3')
						    <div class="col-xs-12 col-sm-6 col-md-4">
						    	<label class="label-item single-overflow pull-left" title="$column.comments：">$column.comments：</label>
						   		<input name="$column.attrname"  htmlEscape="false" maxlength="64"  class=" form-control input-sm"/>
						    </div>
					#end
				#end
						    <div class="col-xs-12 col-sm-6 col-md-4">
								 <div style="margin-top:26px">
								  <a  id="search" clafss="btn btn-primary btn-rounded  btn-bordered btn-sm"><i class="fa fa-search"></i> 查询</a>
								  <a  id="reset" class="btn btn-primary btn-rounded  btn-bordered btn-sm" ><i class="fa fa-refresh"></i> 重置</a>
								</div>
						    </div>
						</form>
					</div>
				</div>
			</div>
		
			<!-- 工具栏 -->
		    <div id="toolbar">
		    	<shiro:hasPermission name="ecshop:${classname}:add">
		    		<a id="add"  class="btn btn-primary"  onclick="add()"><i class="glyphicon glyphicon-plus"></i> 新建</a>
				</shiro:hasPermission>
				<shiro:hasPermission name="ecshop:${classname}:edit">
					<button id="edit" class="btn btn-success" disabled onclick="edit()">
			            <i class="glyphicon glyphicon-edit"></i> 修改
			        </button>
				</shiro:hasPermission>
				<shiro:hasPermission name="ecshop:${classname}:del">
					<button id="remove" class="btn btn-danger" disabled onclick="del()">
			            <i class="glyphicon glyphicon-remove"></i> 删除
			        </button>
				</shiro:hasPermission>
		        <a class="accordion-toggle btn btn-default " data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					<i class="fa fa-search"></i> 检索
				</a>
		    </div><!-- 工具栏结束 -->
	
		    <!-- 表格 -->
		    <table id="table"
		           data-toolbar="#toolbar"
		           data-id-field="id">
		    </table>
			
		    <!-- context menu -->
		    <ul id="context-menu" class="dropdown-menu">
		        <li data-item="edit"><a>编辑</a></li>
		        <li data-item="delete"><a>删除</a></li>
		        <li data-item="action1"><a>取消</a></li>
		    </ul> 
		    </div>
			
		   </div>
		   </div>
		   </div>
	</div>
</body>
</html>