package ${package}.wsh.mapper;

import com.ztd.core.persistence.BaseMapper;
import com.ztd.core.persistence.annotation.MyBatisMapper;
import ${package}.wsh.entity.${className};

@MyBatisMapper
public interface ${className}Mapper extends BaseMapper<${className}>{
}
